<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-3">
          <h1 class="m-0 text-dark">Mes tâches</h1>
        </div><!-- /.col -->
        <div class="col-sm-3">
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable [dtOptions]="dtMakeTaskOptions" [dtTrigger]="dtMakeTaskTrigger"
                     class="row-border hover" cellspacing="0"
                     width="100%">
                <thead>
                <tr>
                  <th>Numéro</th>
                  <th>Project</th>
                  <th>Nombre Logement</th>
                  <th>Date de traitement</th>
                  <th>Site</th>
                  <th>Site sadirah</th>
                  <th>Chargé</th>
                  <th>Etat</th>
                  <th>Derniére modif</th>
                  <th>Commentaire</th>
                  <th>APD</th>
                  <th>DOE</th>
                  <th>Modelisation</th>
                  <th>PDS</th>
                  <th>SRO</th>
                  <th>Date de validation</th>
                  <th style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let task of tasks; let i = index" role="row" class="odd">
                  <td>
                    <div style="cursor: pointer;color: blue;" (click)="goToTasksdDetails(task)"> {{task.id}}</div>
                  </td>
                  <td>{{task.project.name}}</td>
                  <td>{{task.numberLogement}}</td>
                  <td>{{task.treatmentDate}}</td>
                  <td>{{task.siteName}}</td>
                  <td>
                    <div [hidden]="isEditSelected">
                      {{task.sadirahStatus}}
                    </div>

                    <div [hidden]="!isEditSelected">
                      <select [(ngModel)]="task.sadirahStatus" class="form-control custom-select"
                              name="sadirah">
                        <option selected="" disabled="">Select one</option>
                        <option selected="sadirahStatus">Vertical en validation ingénierie</option>
                        <option selected="sadirahStatus">Vertical controle gomaj</option>
                        <option selected="sadirahStatus">Vertical en déploiement</option>
                      </select>
                    </div>
                  </td>

                  <td>{{task.employee.firstName}} {{task.employee.lastName}}</td>
                  <td>
                    <div [hidden]="isEditSelected">
                      <span class="badge badge-secondary"
                            *ngIf="task.taskStatus == 'en attente'">{{task.taskStatus}}</span>
                      <span class="badge badge-primary" *ngIf="task.taskStatus == 'en cours'">{{task.taskStatus}}</span>
                      <span class="badge badge-danger" *ngIf="task.taskStatus == 'bloqué'">{{task.taskStatus}}</span>
                      <span class="badge badge-info" *ngIf="task.taskStatus == 'livré'">{{task.taskStatus}}</span>
                      <span class="badge badge-success" *ngIf="task.taskStatus == 'validé'">{{task.taskStatus}}</span>
                    </div>

                    <div [hidden]="!isEditSelected">
                      <select [(ngModel)]="task.taskStatus" class="form-control custom-select" name="taskStatus">
                        <option selected="" disabled="">Select one</option>
                        <option selected="taskStatus">en attente</option>
                        <option selected="taskStatus">en cours</option>
                        <option selected="taskStatus">livré</option>
                        <option selected="taskStatus">bloqué</option>
                      </select>
                    </div>

                  </td>
                  <td>{{task.lastModifiedDate}}</td>

                  <td>
                    <div [hidden]="isEditSelected">
                      {{task.comment}}
                    </div>

                    <div [hidden]="!isEditSelected">
                       <textarea class="form-control" rows="4" name="comment" [(ngModel)]="task.comment">
                       </textarea>
                    </div>
                  </td>

                  <td>
                    <i [hidden]="isEditSelected" [ngClass]="{'fas fa-check-circle':task.APD, 'fa fa-times-circle': !task.APD}">
                    </i>
                    <div [hidden]="!isEditSelected">
                      <input type="checkbox" class="form-control" rows="4" name="PDS" [(ngModel)]="task.APD"/>
                    </div>
                  </td>

                  <td>
                    <i [hidden]="isEditSelected"
                       [ngClass]="{'fas fa-check-circle':task.DOE, 'fa fa-times-circle': !task.DOE}">
                    </i>
                    <div [hidden]="!isEditSelected">
                      <input type="checkbox" class="form-control" rows="4" name="PDS" [(ngModel)]="task.DOE"/>
                    </div>
                  </td>

                  <td>
                    <i [hidden]="isEditSelected"
                       [ngClass]="{'fas fa-check-circle':task.Modelisation, 'fa fa-times-circle': !task.Modelisation}">
                    </i>
                    <div [hidden]="!isEditSelected">
                      <input type="checkbox" class="form-control" rows="4" name="PDS" [(ngModel)]="task.Modelisation"/>
                    </div>
                  </td>

                  <td>
                    <div [hidden]="isEditSelected">
                      {{task.PDS}}
                    </div>

                    <div [hidden]="!isEditSelected">
                       <input class="form-control" rows="4" name="PDS" [(ngModel)]="task.PDS"/>
                    </div>
                  </td>
                  <td>
                    <div [hidden]="isEditSelected">
                      {{task.SRO}}
                    </div>

                    <div [hidden]="!isEditSelected">
                       <input class="form-control" rows="4" name="SRO" [(ngModel)]="task.SRO"/>
                    </div>
                  </td>
                  <td>{{task.validationDate}}</td>
                  <td>
                    <div class="btn btn-info btn-secondary" [hidden]="isEditSelected" style="margin-right: 2px;"
                         (click)="selectEditTask(task)">
                      <i class="fas fa-pencil-alt">
                      </i>
                    </div>
                    <div class="btn btn-danger btn-secondary" [hidden]="!isEditSelected" style="margin-right: 2px;"
                         (click)="cancelTask(task)">
                      <i class="fas fa-times">
                      </i>
                    </div>
                    <div class="btn btn-success btn-secondary" [hidden]="!isEditSelected" (click)="saveTask(task)">
                      <i class="fas fa-save">
                      </i>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
