<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-3">
          <h1 class="m-0 text-dark">Projet: <span style="size: 0.5em">{{project.name}}</span></h1>
        </div><!-- /.col -->
        <div class="col-sm-3">
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="col-sm-2">
                <button type="button" class="btn alert-info" (click)="addTask()">
                  <i class="fa fa-plus"> Nouvelle Tâche</i>
                </button>
              </div><!-- /.col -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable [dtOptions]="dtTaskOptions" [dtTrigger]="dtTaskTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th>Site</th>
                    <th>Chargé</th>
                    <th>Nombre Logement</th>
                    <th>Date de traitement</th>
                    <th>Site sadirah</th>
                    <th>Etat</th>
                    <th>Derniére modif</th>
                    <th>Commentaire</th>
                    <th style="width: 60%">Date de validation</th>
                    <th style="width: 80%">Action</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks; let i = index" role="row" class="odd">
                    <td>{{task.siteName}}</td>
                    <td>{{task.employee.firstName}} {{task.employee.lastName}}</td>
                    <td>{{task.numberLogement}}</td>
                    <td>{{task.treatmentDate}}</td>
                    <td>{{task.sadirahStatus}}</td>
                    <td>
                      <span class="badge badge-secondary"
                        *ngIf="task.taskStatus == 'en attente'">{{task.taskStatus}}</span>
                      <span class="badge badge-primary" *ngIf="task.taskStatus == 'en cours'">{{task.taskStatus}}</span>
                      <span class="badge badge-danger" *ngIf="task.taskStatus == 'bloqué'">{{task.taskStatus}}</span>
                      <span class="badge badge-info" *ngIf="task.taskStatus == 'livré'">{{task.taskStatus}}</span>
                      <span class="badge badge-success" *ngIf="task.taskStatus == 'validé'">{{task.taskStatus}}</span>

                    </td>
                    <td>{{task.lastModifiedDate}}</td>
                    <td>{{task.comment}}</td>
                    <td>{{task.validationDate}}</td>
                    <td>
                      <div class="btn btn-info btn-secondary" style="margin-right: 2px;" (click)="editTask(task)">
                        <i class="fas fa-pencil-alt">
                        </i>
                      </div>
                      <div class="btn btn-danger btn-secondary" style="margin-right: 2px;" (click)="deleteTask(task)">
                        <i class="fas fa-trash">
                        </i>
                      </div>
                      <div class="btn btn-success btn-secondary" (click)="validateTask(task)">
                        <i class="fas fa-check-circle">
                        </i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
